<h1> <%= @band.name %> </h1>

<h3>Albums</h3>

<ul>
  <% @band.albums.each do |album| %>
    <li> <%= link_to "#{album.name}", album_url(album) %> </li>
  <% end %>
</ul>

<h3>Links</h3>
<ul>

<li><%= link_to "New album", new_band_album_url(@band) %></li>
<li><%= link_to "Edit band", edit_band_url %></li>
<li><%= link_to "Delete band", band_url(@band), method: :delete %></li>
<li><%= link_to "Back to all bands", bands_url %></li>

</ul>
